In [24]:
# importing necessary modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [25]:
df = pd.read_csv('clean_crime_data.csv')

In [26]:
df.head()

,Block,IUCR,Primary Type,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,Year,Date,Time
0,6452,51,2,17,1,True,1022,10.0,24.0,29.0,10,2016,2016-05-03,23:40:00
1,24340,51,2,109,0,True,313,3.0,20.0,42.0,10,2016,2016-05-03,21:40:00
2,21841,42,27,125,0,False,1524,15.0,37.0,25.0,24,2016,2016-05-03,23:31:00
3,20464,39,2,121,0,False,1532,15.0,28.0,25.0,10,2016,2016-05-03,22:10:00
4,1909,84,31,109,0,True,1523,15.0,28.0,25.0,7,2016,2016-05-03,22:00:00

In [27]:
# changing 'domestic' feature to be 0/1
df['Domestic'] = df['Domestic'].astype(int)

In [28]:
# standardizing all numbers in the dataframe

numerical_features = ['Block', 'IUCR', 'Primary Type', 'Location Description', 'Arrest', 'Domestic', 'Beat', 'District', 'Ward', 'FBI Code', 'Year']

scaler = StandardScaler()
scaler.fit(df[numerical_features])
scaled_features = scaler.transform(df[numerical_features])
df[numerical_features]=scaled_features

df.head()

,Block,IUCR,Primary Type,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,Year,Date,Time
0,-0.968428,-0.851869,-1.078048,-1.920481,1.680029,2.364939,-0.185476,-0.181792,0.083027,29.0,-0.293737,1.510226,2016-05-03,23:40:00
1,0.889025,-0.851869,-1.078048,0.379894,-0.595228,2.364939,-1.210577,-1.195622,-0.206959,42.0,-0.293737,1.510226,2016-05-03,21:40:00
2,0.629534,-0.967165,1.022525,0.779960,-0.595228,-0.422844,0.540336,0.542373,1.025482,25.0,1.858371,1.510226,2016-05-03,23:31:00
3,0.486549,-1.005598,-1.078048,0.679943,-0.595228,-0.422844,0.551903,0.542373,0.373013,25.0,-0.293737,1.510226,2016-05-03,22:10:00
4,-1.440164,-0.429117,1.358617,0.379894,-0.595228,2.364939,0.538890,0.542373,0.373013,25.0,-0.754903,1.510226,2016-05-03,22:00:00

In [29]:
# dropping date and time features
to_drop = ['Date', 'Time']
df = df.drop(columns=to_drop)

In [ ]:
# saving a new version of the data that is fully processed now (standardized & date/time removed)
df.to_csv('clean_crime_data.csv', index = False)

In [30]:
# decision tree classifier model

X = df.drop('Community Area', axis=1)
y = df['Community Area']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)  # Adjust test_size and random_state as needed

model = DecisionTreeClassifier()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

Accuracy: 0.9913668202472565

In [31]:
# random forest classifier model
X = df.drop('Community Area', axis=1)
y = df['Community Area']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)  # Adjust test_size and random_state as needed

model = RandomForestClassifier(n_estimators=100, random_state=42)  # Adjust n_estimators as needed
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

Accuracy: 0.9710300240065145